# first commit

[Ee]pla/
[Ee]lpa/
[Ss]emanticdb/
[Ll]ocal-lisp/
[Aa]uto-save-list/
[Ii]rony/
[Ee]shell/
[Ss]erver/

my-layers.el

.[Cc]ask/
.[Cc]ache/
projectile-bookmarks.eld
projectile.cache
*.elc
.last-package-update-key
custom.el