# first commit

[Ee]pla/
[Ee]lpa/
[Ss]emanticdb/
[Ll]ocal-lisp/
[Aa]uto-save-list/
[Ii]rony/
[Ee]shell/
[Ss]erver/
[Tt]ransient/
[Ee]lpy/
[Ww]orkspace/
[Ee]clipse.jdt.ls/

my-layers.el

tags

.lsp-session-v1
.dap-breakpoints

.[Cc]ask/
.[Cc]ache/
projectile-bookmarks.eld
projectile.cache
*.elc
.last-package-update-key
session.*
custom.el
.work.license.template
.work.header.template
[eE]ln-cache
[Bb]ookmarks
[Pp]rojects